/* class that contain color definitions */
.colors {
    --main-bg-color: rgba(79, 81, 106, 1);
    --main-color-bg-50: rgba(79, 81, 106, 0.5);
    --main-color-bg-75: rgba(79, 81, 106, 0.75);
    --sec-bg-color: rgba(52, 53, 66, 1);
    --sec-color-bg-50: rgba(52, 53, 66, 0.5);
    --main-shadow: #1f2feb63;
}

.main-color-bg {
    background-color: var(--main-bg-color);
}

.main-color-bg-50 {
    background-color: var(--main-color-bg-50);
}

.main-color-bg-75 {
    background-color: var(--main-color-bg-75);
}

.sec-color-bg {
    background-color: var(--sec-bg-color);
}

.sec-color-bg-50 {
    background-color: var(--sec-color-bg-50);
}

.thi-border {
    border-color: rgb(111, 114, 160);
    ;
}