/* class that contain color definitions */
.main-color-bg{
    background-color: rgba(79, 81, 106, 1);;
}

.main-color-bg-50{
    background-color: rgba(79, 81, 106, 0.5); ;
}

.main-color-bg-75{
    background-color: rgba(79, 81, 106, 0.75); ;
}

.sec-color-bg{
    background-color: rgba(52, 53, 66, 1);;
}
.sec-color-bg-50{
    background-color: rgba(52, 53, 66, 0.5);;
}

.thi-border{
    border-color: rgb(111, 114, 160);;
}