[Unit]
Description=Reallab web configuration service
After=network.target

[Service]
ExecStart=/bin/python3 /home/pi/gits/reallab-conf/app.py
WorkingDirectory=/home/pi/gits/reallab-conf/
Restart=always
User=pi

[Install]
WantedBy=multi-user.target